include LICENSE
include README.md
include requirements.txt
recursive-include toolbox/fixtures *
recursive-include toolbox/migrations *
recursive-include toolbox/templates *
recursive-include toolbox/docs *
